.form-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#signup-form input[type="email"],
#signup-form input[type="password"],
#login-form input[type="email"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#signup-form button,
#google-signin,
#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add this line */
}

#signup-form button:hover,
#login-form button:hover {
    background-color: #0056b3;
}

.separator {
    text-align: center;
    margin: 10px 0;
}

#forgot-password {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

#forgot-password:hover {
    color: #0056b3;
}